<h1>My Students</h1>
 

 <div *ngIf="selectedStudent">

    <h2>{{selectedStudent.name | uppercase}}</h2>
    <input placeholder="Nome do aluno">
    <input placeholder="Idade">
    

</div>

 <table border="1rem">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sala de Aula</th>
            <th></th>
        </tr>
        <tr *ngFor=" let Student of teste"> 
            <td><b>{{Student.id }}</b></td>
            <td>{{Student.name | uppercase}}</td>
            <td>{{Student.age}}</td>
            <td>{{Student.ra}} </td>
            <td><button  type="button" (click)="onSelect(Student)">Editar</button></td>
         </tr>
        
   </table>
   
    
     
      
    


