<h1>My Students</h1>
 <div class="input-items">
    <input class="add" placeholder="ID">
    <input class="add" placeholder="Nome">
    <input class="add" placeholder="Idade">
    <input class="add" placeholder="Sala de aula">
    <button class="add">Enviar</button>
    <button class="add">Listar</button>
    <button class="add">Editar</button>
</div>  
   <table border="1rem">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sala de Aula</th>
        </tr>
        <tr *ngFor=" let Student of teste"> 
            <td ><b>{{Student.id }}</b></td>
            <td>{{Student.name | uppercase}}</td>
            <td>{{Student.age}}</td>
            <td>{{Student.room}} </td>
         </tr>
        
   </table>
   
    
     
      
    


