.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #D9D2D2;

  border-radius: 50px;
  height: 110%;
  width: 35%;
  box-shadow: 10px 15px 36px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 15px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 15px 36px 0px rgba(0,0,0,0.75);
}


h1{
    color: #FF4757;
    display: flex;
    justify-content: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 100px;
    margin: 10px 0;


}

th{
    background-color: #E8A09E;

}

table{
    margin: 16px;
    border-radius: 6px;
    text-align: center;
    border-color: #9C9489;
    background-color: aliceblue;
}

.add{
    border-radius: 0.3rem;
    width: 6rem;

}

.input-items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

button{
    width: 100%;
}


.selectedStudent1{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;


}

#inputSelected{
  width: 30%;
}

.selectedStudent1 > h2 {


    color: #black;
    text-shadow: -2px 6px 12px rgba(0,0,0,0.65);
}

.table{
  margin: auto;
}
