<h1>My Students</h1>

<div class="container" >
  <div  class="selectedStudent1"  *ngIf="selectedStudent">
    <h2>{{selectedStudent.name | uppercase}}</h2>
    <span> Ra: {{selectedStudent.ra}}</span>
    <input id="inputSelected" placeholder="Nome do aluno" [(ngModel)]="selectedStudent.name" >
    <input id="inputSelected" placeholder="Registro do aluno" [(ngModel)]="selectedStudent.ra">
 </div>

<table class="table" border="1rem">
      <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>Registro do aluno</th>
          <th>↓</th>
      </tr>
      <tr *ngFor=" let Student of teste">
          <td><b>{{Student.id }}</b></td>
          <td>{{Student.name | uppercase}}</td>
          <td>{{Student.age}}</td>
          <td>{{Student.ra}} </td>
          <td><button [class.editButton]=" Student === selectedStudent"  type="button" (click)="onSelect(Student)">Editar</button></td>
       </tr>
 </table>
</div>
<img  class="gif" src="https://media.giphy.com/media/2bq8WmbTfXzeo/giphy.gif">











